.amain {
  height: 1300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Ensure no overflow from the video */
}

.background-video {
  position: absolute; /* Position it absolutely */
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  min-width: 10%; /* Ensure it covers the entire container */
  min-height: 10%;
  z-index: 0; /* Behind all content */
  transform: translate(-50%, -50%); /* Center the video */
  object-fit: cover; /* Cover the entire area */
}

.about {
  max-width: 600px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  z-index: 1; /* Above the video */
  margin-top: 250px;
}

.about.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.ap {
  color: white;
}

.ha {
  font-size: 95px;
  margin-top: -50px;
  color: gray;
}
.haa {
  font-size: 85px;
}

.pic {
  position: relative;
  display: inline-block;
  margin-left: 200px;
  margin-top: 100px;
}

.apic {
  height: 500px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.pic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  
  pointer-events: none;
  z-index: 2;
}
